
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #343a40;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-section {
    margin-bottom: 15px;
}

.form-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-section input, .form-section textarea, .form-section select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-section input[type="file"] {
    padding: 5px;
}

#submitBtn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #0056b3;
}

.preview {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    display: none;
}

.preview h2 {
    font-size: 20px;
    color: #343a40;
}

.preview div {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #343a40;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}
